@using System.Reflection
@using System.ComponentModel
@using System.Linq.Expressions

<div class="form-group form-check">
	<InputCheckbox id="@memberName"
				   class="form-check-input"
				   disabled="@Disabled"
				   Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression"
				   @attributes="AdditionalAttributes" />

	<DisplayName For="@memberName"
				 ForField="@ValueExpression"
				 class="form-check-label"></DisplayName>

	@if (!string.IsNullOrEmpty(memberDescription))
	{
		<small class="form-text text-muted">@memberDescription</small>
	}
</div>

@code {
	[Parameter]
	public bool Value { get; set; } = false;
	[Parameter]
	public EventCallback<bool> ValueChanged { get; set; }
	[Parameter]
	public Expression<Func<bool>>? ValueExpression { get; set; }

	[Parameter]
	public bool Disabled { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object>? AdditionalAttributes { get; set; }

	private string memberName { get; set; } = "";
	private string memberDescription { get; set; } = "";

	protected override void OnInitialized()
	{
		base.OnInitialized();
		memberName = Utilities.GetMemberName(ValueExpression!);
		memberDescription = Utilities.GetDescriptionAttributeValue(ValueExpression!);
	}
}
