@using System.Reflection
@using System.ComponentModel
@using System.Linq.Expressions

<div class="form-group">
	<DisplayName For="@_memberName"
				 ForField="@ValueExpression"></DisplayName>

	<InputNumber id="@_memberName"
				 name="@_memberName"
				 class="form-control"
				 disabled="@Disabled"
				 Value="@Value"
				 ValueChanged="@ValueChanged"
				 ValueExpression="@ValueExpression"
				 @attributes="AdditionalAttributes" />

	@if (!string.IsNullOrEmpty(_memberDescription))
	{
		<small class="form-text text-muted">@_memberDescription</small>
	}
</div>

@code {
	[Parameter]
	public string NamePrefix { get; set; } = "";
	[Parameter]
	public int? Value { get; set; }
	[Parameter]
	public EventCallback<int?> ValueChanged { get; set; }
	[Parameter]
	public Expression<Func<int?>>? ValueExpression { get; set; }
	[Parameter]
	public bool Disabled { get; set; }
	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object>? AdditionalAttributes { get; set; }

	private string _memberName = "";
	private string _memberDescription = "";

	protected override void OnInitialized()
	{
		base.OnInitialized();
		_memberName = NamePrefix + Utilities.GetMemberName(ValueExpression!);
		_memberDescription = Utilities.GetDescriptionAttributeValue(ValueExpression!);
	}
}
