@page "/comic/{Code}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject Services.LACSApi Api

<Container Fluid="false">
	@if (!loaded)
	{
		<Row>
			<Column>
				<Spinner></Spinner>
			</Column>
		</Row>
	}
	<div class="@(loaded ? "" : "d-none")">
		<Row>
			<Column>
				<ComicNavigation ComicPage="comicPage"></ComicNavigation>
			</Column>
		</Row>

		<Row>
			<Column>
				<div class="d-flex justify-content-center">
					<h1>@comic.Title</h1>
				</div>
			</Column>
		</Row>

		<Row>
			<Column ColumnSize="ColumnSize.IsHalf.OnFullHD">
				<h3>Metadata</h3>
				<Table Bordered="true" Narrow="true">
					<TableBody>
						<TableRow>
							<TableHeaderCell>Identifier</TableHeaderCell>
							<TableRowCell>@comic.Code</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Number</TableHeaderCell>
							<TableRowCell>@comic.Id</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Permalink</TableHeaderCell>
							<TableRowCell><NewTabLink Href="@comic.Permalink">@comic.Permalink</NewTabLink></TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Published</TableHeaderCell>
							<TableRowCell>@comic.ComicPublishedDate.ToString("yyyy-MM-dd mm:dd:ss K")</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Image</TableHeaderCell>
							<TableRowCell><NewTabLink Href="@comic.ImageUrlSrc">@comic.ImageUrlSrc</NewTabLink></TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Thumbnail</TableHeaderCell>
							<TableRowCell>
								<NewTabLink Href="@comic.ImageThumbnailUrlSrc">
									<img src="@comic.ImageThumbnailUrlSrc" width="128" height="128" title="Thumbnail" alt="Thumbnail" class="img-fluid" style="max-height: 128px;" />
								</NewTabLink>
							</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Wide Thumbnail</TableHeaderCell>
							<TableRowCell>
								@if (comic.ImageWideThumbnailUrlSrc != null)
								{
									<NewTabLink Href="@comic.ImageWideThumbnailUrlSrc">
										<img src="@comic.ImageWideThumbnailUrlSrc" height="128" title="Wide Thumbnail" alt="Wide Thumbnail" class="img-fluid" style="max-height: 128px;" />
									</NewTabLink>
								}
								else
								{
									<text>N/A</text>
								}
							</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Tooltip</TableHeaderCell>
							<TableRowCell>@((MarkupString)(comic.Tooltip ?? ""))</TableRowCell>
						</TableRow>
						<TableRow>
							<TableHeaderCell>Description</TableHeaderCell>
							<TableRowCell><p>@((MarkupString)(comic.Description ?? ""))</p></TableRowCell>
						</TableRow>
					</TableBody>
				</Table>

				<h3>Comic Image</h3>
				<p>
					<center>
						<a href="@comic.ImageUrlSrc" target="_blank">
							<img src="@comic.ImageUrlSrc" width="550" title="Comic image" alt="Comic image" class="comic-image img-thumbnail" />
						</a>
					</center>
				</p>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf.OnFullHD">
				<h3>Crowd Sourced Data</h3>
				<div class="entry-list">
					<FieldEntries ComicCode="@comic.Code" ComicImgSrc="@comic.ImageUrlSrc" Fields="comic.ComicFields" OnComicNeedsRefresh="HandleComicNedsRefresh"></FieldEntries>
				</div>
			</Column>
		</Row>
	</div>
</Container>

@code {
	private string _code = "";
	[Parameter]
	public string Code { get; set; } = "";

	private bool loaded { get; set; }
	private ComicPageViewModel comicPage { get; set; } = new ComicPageViewModel();
	private ComicViewModel comic => comicPage.ComicViewModel;

	protected override async Task OnParametersSetAsync()
	{
		if (_code != Code)
		{
			_code = Code;
			await GetComic();
		}
		await base.OnParametersSetAsync();
	}

	private async Task GetComic()
	{
		try
		{
			comicPage = await Api.GetComic(Code);
			loaded = true;
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}
	}

	private async Task HandleComicNedsRefresh()
	{
		//loaded = false;
		StateHasChanged();

		try
		{
			comicPage = await Api.GetComic(Code);
			//loaded = true;
			StateHasChanged();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}
	}
}
