@page "/comic/{ComicCode}/history"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = LoadingArtistCrowdSource.Shared.Enums.Roles.AdminMod)]
@inject Services.LACSApi Api

@if (_isLoading)
{
	<Spinner></Spinner>
}
else
{
	<div>
		<NavLink href="@($"/comic/{Uri.EscapeDataString(ComicCode)}")">
			<HelperIcon Name="chevron-left" /> Back to Comic
		</NavLink>
	</div>

	<h3>Comic History: @_comicHistoryLog.ComicTitle</h3>

	<BlazorTable.Table TableItem="ComicHistoryLogItemViewModel" Items="_comicHistoryLog.LogItems" PageSize="15">
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="Id" Field="@(chl => chl.Id)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="Field" Field="@(c => c.FieldName)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="User" Field="@(chl => chl.CreatedByUser.UserName)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="Log Date" Field="@(c => c.LogDate)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="Message" Field="@(c => c.LogMessage)"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="Old Value" Field="@(c => c.OldValue)"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicHistoryLogItemViewModel" Title="New Value" Field="@(c => c.NewValue)"></BlazorTable.Column>
		<BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true"></BlazorTable.Pager>
	</BlazorTable.Table>
}


@code {
	[Parameter]
	public string ComicCode { get; set; } = "";

	private ComicHistoryLogViewModel _comicHistoryLog = new ComicHistoryLogViewModel();
	private bool _isLoading;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_isLoading = true;
			_comicHistoryLog = await Api.GetComicHistory(ComicCode);
			_isLoading = false;
		}
		catch (AccessTokenNotAvailableException ex)
		{
			ex.Redirect();
			return;
		}

		await base.OnInitializedAsync();
	}
}
