@page "/comic/{Code}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject Services.LACSApi Api

<Container Fluid="false">
	@if (!_loaded)
	{
		<Row>
			<Column>
				<Spinner></Spinner>
			</Column>
		</Row>
	}
	else
	{
		<Row>
			<Column>
				<ComicNavigation ComicPage="_comicPage"></ComicNavigation>
			</Column>
		</Row>

		<Row>
			<Column>
				<div class="d-flex justify-content-center">
					<h1>@_comic.Title</h1>
				</div>
			</Column>
		</Row>

		<Row>
			<Column ColumnSize="ColumnSize.IsHalf.OnFullHD">
				<Row Class="mb-3">
					<Column>
						<h3>Metadata</h3>
						<AuthorizeView Roles="@LoadingArtistCrowdSource.Shared.Enums.Roles.AdminMod">
							<Authorized>
								<div>
									<NavLink href="@($"/comic/{Uri.EscapeDataString(Code)}/edit")">Edit Metadata</NavLink>
								</div>
								<div>
									<NavLink href="@($"/comic/{Uri.EscapeDataString(Code)}/history")">Comic History</NavLink>
								</div>
							</Authorized>
						</AuthorizeView>
						<ComicMetadata Comic="_comic"></ComicMetadata>
					</Column>
				</Row>
				<Row Class="mb-3">
					<Column>
						<h3>Comic Image</h3>
						<div>
							<center>
								<a href="@_comic.Permalink" target="_blank">
									<img src="@_comic.ImageUrlSrc" width="550" title="Comic image" alt="Comic image" class="comic-image img-thumbnail" />
								</a>
							</center>
						</div>
					</Column>
				</Row>
			</Column>
			<Column ColumnSize="ColumnSize.IsHalf.OnFullHD">
				<Row Class="mb-3">
					<Column>
						<h3>Crowd Sourced Data</h3>
						<div class="entry-list">
							<FieldEntries ComicCode="@_comic.Code" 
										  ComicImgSrc="@_comic.ImageUrlSrc" 
										  ComicProgress="@_comicPage.Progress" 
										  Fields="_comic.ComicFields" 
										  OnComicNeedsRefresh="HandleComicNedsRefresh" />
						</div>
					</Column>
				</Row>
				<Row Class="mb-3">
					<Column>
						<h3>Transcript</h3>
						<ComicTranscriptView Transcript="_comic.Transcript"
											 ComicCode="@_comic.Code"
											 ComicImgSrc="@_comic.ImageUrlSrc"
											 OnComicNeedsRefresh="HandleComicNedsRefresh" />
					</Column>
				</Row>
				<Row Class="mb-3">
					<Column>
						<h3>Additional Tags</h3>
						<ComicTagsView Tags="_comic.Tags"
									   ComicCode="@_comic.Code"
									   ComicImgSrc="@_comic.ImageUrlSrc"
									   OnComicNeedsRefresh="HandleComicNedsRefresh" />
					</Column>
				</Row>
			</Column>
		</Row>
	}
</Container>

@code {
	private string _code = "";
	[Parameter]
	public string Code { get; set; } = "";

	private bool _loaded;
	private ComicPageViewModel _comicPage = new ComicPageViewModel();
	private ComicViewModel _comic => _comicPage.ComicViewModel;

	protected override async Task OnParametersSetAsync()
	{
		if (_code != Code)
		{
			_code = Code;
			await GetComic();
		}
		await base.OnParametersSetAsync();
	}

	private async Task GetComic()
	{
		try
		{
			_loaded = false;
			_comicPage = await Api.GetComic(Code);
			_loaded = true;
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}
	}

	private async Task HandleComicNedsRefresh()
	{
		try
		{
			//_loaded = false;
			_comicPage = await Api.GetComic(Code);
			//_loaded = true;
			StateHasChanged();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}
	}
}
