@inject IJSRuntime JsRuntime;

<div class="d-flex">
	@HeaderContent
	<div class="flex-fill"></div>
	<div>
		@*This wrapper is needed to not have the button group match the height of the h1*@
		<Buttons>
			<Button Type="ButtonType.Button"
					Color="Color.Light"
					Active="_view == ComicListViewType.GroupedByYear"
					Clicked="GroupedByYear"
					title="Group comics by year">
				<SemanticIcon Name="list" Title="Group comics by year" />
			</Button>
			<Button Type="ButtonType.Button"
					Color="Color.Light"
					Active="_view == ComicListViewType.Thumbnail"
					Clicked="Thumbnail"
					title="Show all comics in a grid">
				<SemanticIcon Name="grid" Title="Show all comics in a grid" />
			</Button>
			<Button Type="ButtonType.Button"
					Color="Color.Light"
					Active="_view == ComicListViewType.Table"
					Clicked="Table"
					title="Show all comics in a paginated table">
				<SemanticIcon Name="align-justify" Title="Show all comics in a paginated table" />
			</Button>
		</Buttons>
	</div>
</div>

@if (_view == ComicListViewType.GroupedByYear)
{
	<div class="d-flex">
		<div class="flex-fill"></div>
		<div>
			<Button Type="ButtonType.Button" Class="btn-link" Clicked="ExpandAll">Expand</Button>/<Button Type="ButtonType.Button" Class="btn-link" Clicked="CollapseAll">Collapse</Button>
		</div>
	</div>
	@foreach (var year in _comicsGroupedByYear.OrderBy(y => y.Year))
	{
		<Collapsible @ref="_groupedByYearCollapsibles[year.Year]" IsCollapsed="_initiallyCollapsed" IdPrefix="@year.Year.ToString()">
			<HeaderContent Context="isCollapsed">
				<h3 class="header-collapsible">
					<HelperIcon Name="@(isCollapsed ? "chevron-right" : "chevron-down")" />
					@year.Year <small class="text-muted">(@year.Comics.Count())</small>
				</h3>
			</HeaderContent>
			<ChildContent Context="isCollapsed">
				<div class="d-flex flex-wrap">
					@foreach (var comic in year.Comics.OrderBy(c => c.Id))
					{
						<div class="comic-thumbnail-link">
							<NavLink class="btn btn-link d-flex flex-column" href="@($"comic/{Uri.EscapeDataString(comic.Code)}")">
								<img src="@comic.ImageThumbnailUrlSrc" width="128" height="128" title="@comic.Title" alt="@comic.Title" />
								<center class="comic-title">
									@comic.Title
								</center>
							</NavLink>
						</div>
					}
				</div>
			</ChildContent>
		</Collapsible>
	}
}
else if (_view == ComicListViewType.Thumbnail)
{
	<div class="d-flex flex-wrap">
		@foreach (var comic in Comics)
		{
			<div class="comic-thumbnail-link">
				<NavLink class="btn btn-link d-flex flex-column" href="@($"comic/{Uri.EscapeDataString(comic.Code)}")">
					<img src="@comic.ImageThumbnailUrlSrc" width="128" height="128" title="@comic.Title" alt="@comic.Title" />
					<center class="comic-title">
						@comic.Title
					</center>
				</NavLink>
			</div>
		}
	</div>
}
else
{
	<BlazorTable.Table TableItem="ComicListItemViewModel" Items="Comics" PageSize="15">
		<BlazorTable.Column TableItem="ComicListItemViewModel" Title="Thumbnail" Field="@(c => c.ImageThumbnailUrlSrc)" Sortable="true" Filterable="true">
			<Template>
				<img src="@context.ImageThumbnailUrlSrc" width="64" height="64" title="@context.Title" alt="@context.Title" />
			</Template>
		</BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicListItemViewModel" Title="Id" Field="@(c => c.Id)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicListItemViewModel" Title="Published" Field="@(c => c.ComicPublishedDate)" Sortable="true" Filterable="true">
			<Template>
				@context.ComicPublishedDate.ToString("yyyy-MM-dd HH:mm:ss K")
			</Template>
		</BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicListItemViewModel" Title="Title" Field="@(c => c.Title)" Sortable="true" Filterable="true"></BlazorTable.Column>
		<BlazorTable.Column TableItem="ComicListItemViewModel" Field="@(c => c.Code)">
			<Template>
				<NavLink class="nav-link text-nowrap" href="@($"comic/{Uri.EscapeDataString(context.Code)}")">
					<HelperIcon Name="plus" /> View
				</NavLink>
			</Template>
		</BlazorTable.Column>
		<BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true"></BlazorTable.Pager>
	</BlazorTable.Table>
}

@code {
	private class GroupedYear
	{
		public int Year { get; set; }
		public IEnumerable<ComicListItemViewModel> Comics { get; set; } = new ComicListItemViewModel[] { };
	}

	private const string Cookie = "ComicListViewType";

	[Parameter]
	public IEnumerable<ComicListItemViewModel> Comics { get; set; } = new ComicListItemViewModel[] { };
	[Parameter]
	public RenderFragment? HeaderContent { get; set; }

	private ComicListViewType _view = ComicListViewType.GroupedByYear;
	private IEnumerable<GroupedYear> _comicsGroupedByYear = new GroupedYear[] { };
	private Dictionary<int, Collapsible> _groupedByYearCollapsibles = new Dictionary<int, Collapsible>();
	private bool _initiallyCollapsed => Comics.Count() >= 20;

	protected override async Task OnInitializedAsync()
	{
		string cookieValue = await JsRuntime.InvokeAsync<string>("ReadCookie", Cookie);
		if (!string.IsNullOrEmpty(cookieValue))
		{
			if (System.Enum.TryParse(cookieValue, out ComicListViewType cookieView))
			{
				_view = cookieView;
			}
		}

		_comicsGroupedByYear = Comics.GroupBy(c => c.ComicPublishedDate.Year, c => c, (year, c) => new GroupedYear { Year = year, Comics = c });

		await base.OnInitializedAsync();
	}

	private async Task GroupedByYear()
	{
		_view = ComicListViewType.GroupedByYear;
		await JsRuntime.InvokeVoidAsync("WriteCookie", Cookie, _view.ToString());
	}

	private async Task Thumbnail()
	{
		_view = ComicListViewType.Thumbnail;
		await JsRuntime.InvokeVoidAsync("WriteCookie", Cookie, _view.ToString());
	}

	private async Task Table()
	{
		_view = ComicListViewType.Table;
		await JsRuntime.InvokeVoidAsync("WriteCookie", Cookie, _view.ToString());
	}

	private void ExpandAll()
	{
		foreach (var c in _groupedByYearCollapsibles.Values)
		{
			c.Expand();
		}
	}

	private void CollapseAll()
	{
		foreach (var c in _groupedByYearCollapsibles.Values)
		{
			c.Collapse();
		}
	}
}
