@page "/comic/{ComicCode}/transcript"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject Services.LACSApi Api
@inject NavigationManager NavigationManager

@if (_isLoading)
{
	<Spinner></Spinner>
}
else
{
	<Container Fluid="false">
		<Row>
			<Column>
				<div>
					<NavLink href="@($"/comic/{Uri.EscapeDataString(ComicCode)}")">
						<HelperIcon Name="chevron-left" /> Back to Comic
					</NavLink>
				</div>
				<h2>Transcript</h2>

				@foreach (var transcriptHistory in _transcriptHistories.Reverse())
				{
					<div class="mb-3">
						<h6>
							@transcriptHistory.CreatedByUser.UserName
							<small class="text-muted">@transcriptHistory.CreatedDate</small>	
						</h6>
						
						@if (string.IsNullOrEmpty(transcriptHistory.DiffWithPrevious))
						{
							<pre class="border rounded bg-light p-3" style="min-height: 44px;">
								@transcriptHistory.TranscriptContent
							</pre>
						}
						else
						{
							<div class="border rounded">
								@((MarkupString)transcriptHistory.DiffWithPrevious)
							</div>
						}
						<hr />
					</div>
				}
			</Column>
		</Row>
	</Container>
}


@code {
	[Parameter]
	public string ComicCode { get; set; } = "";

	private TranscriptHistoryItemViewModel[] _transcriptHistories = new TranscriptHistoryItemViewModel[] { };
	private bool _isLoading;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_transcriptHistories = await Api.GetTranscriptHistory(ComicCode);
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}

		await base.OnInitializedAsync();
	}
}