@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Services.LACSApi Api
@inject IJSRuntime JsRuntime
@inject IToastService ToastService

<Modal @ref="_modal" Class="custom-modal-dialog-scrollable">
	<ModalBackdrop />
	<ModalContent Size="ModalSize.Large">
		<ModalHeader>
			<ModalTitle>@_comicField.Name</ModalTitle>
			<CloseButton Clicked="Close"></CloseButton>
		</ModalHeader>
		<ModalBody>
			<EditForm @ref="_form" Model="_userEntry" Context="editContext">
				<DataAnnotationsValidator />

				<Container Fluid="false">
					<Row>
						<Column Display="Display.None.Block.OnWidescreen" Class="border-right">
							<img src="@_comicImgSrc" class="img-fluid" />
						</Column>
						<Column>
							<AuthorizeView>
								<NotAuthorized>
									<a href="authentication/login">Log in</a> to help crowd source information for LoadingArtist comics!
								</NotAuthorized>
								<Authorized>
									<h5>Your Response</h5>
									<Microsoft.AspNetCore.Components.Forms.ValidationSummary />
									@* Weird bug where multi select's UI and option[selected] become desynced. Force-redraw on modal open to fix. *@
									@if (_modal.Visible)
									{
										switch (_comicField.Type)
										{
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Checkboxes:
												for (int i = 0; i < _comicField.Options.Count; i++)
												{
													var index = i;
													var option = _comicField.Options[index];
													var valueWrapper = _boolAnswers[index];
													<div class="form-group form-check">
														<InputCheckbox id="@($"checkbox-{option.Code}")"
																	name="@($"checkbox-{option.Code}")"
																	class="form-check-input"
																	@bind-Value="@valueWrapper.Value" />
														<label for="@($"checkbox-{option.Code}")" class="form-check-label">@option.Text</label>
													</div>
												}
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Dropdown:
												<div class="form-group">
													<label for="select">@_comicField.Name</label>

													<InputSelect id="select" name="select" class="custom-select" @bind-Value="_stringAnswer">
														<option value=""></option>
														@foreach (var option in _comicField.Options)
																	{
															<option value="@option.Code">@option.Text</option>
																	}
													</InputSelect>
												</div>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextarea:
												<div class="form-group">
													<label for="textarea">@_comicField.Name</label>

													<InputTextArea id="textarea"
																name="textarea"
																class="form-control"
																rows="3"
																@bind-Value="_stringAnswer" />
												</div>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextfield:
												<div class="form-group">
													<label for="textfield">@_comicField.Name</label>

													<InputText id="textfield"
															name="textfield"
															class="form-control"
															@bind-Value="_stringAnswer" />
												</div>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.IntegerNumber:
												<div class="form-group">
													<label for="textfield">@_comicField.Name</label>

													<InputNumber id="textfield"
																name="textfield"
																class="form-control"
																@bind-Value="_intAnswer" />
												</div>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.MultiDropdown:
												<div class="form-group">
													<label for="select">@_comicField.Name</label>

													<InputMultiSelect id="select"
																	name="select"
																	class="form-control custom-select"
																	size="10"
																	@bind-Value="_stringAnswers2"
																	Options="_comicField.Options.Select(o => KeyValuePair.Create(o.Code, o.Text)).ToArray()" />
												</div>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.RadioButtons:
												<InputRadioGroup @bind-Value="_stringAnswer" Name="radio">
													@foreach (var option in _comicField.Options)
																{
														<div class="form-check">
															<InputRadio id="@($"radio-{option.Code}")"
																		Name="radio"
																		Value="option.Code" />
															<label class="form-check-label" for="@($"radio-{option.Code}")">
																@option.Text
															</label>
														</div>
																}
												</InputRadioGroup>
												break;
											case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Section:
												break;
										}
									}
								</Authorized>
							</AuthorizeView>
							
							<hr />
							<h5>Description</h5>
							<p>
								@_comicField.ShortDescription
							</p>
							<p>
								@_comicField.LongDescription
							</p>
							<Table Narrow="true">
								<TableBody>
									<TableRow>
										<TableRowHeader>Date Verified</TableRowHeader>
										<TableRowCell>@_comicField.VerifiedEntry?.VerificationDate.ToLocalTime().ToString("yyyy-MM-dd hh:mm:ss tt")</TableRowCell>
									</TableRow>
									<TableRow>
										<TableRowHeader>Submitters</TableRowHeader>
										<TableRowCell>@string.Join(", ", _comicField.UserEntries.Select(ue => ue.CreatedByUser.UserName))</TableRowCell>
									</TableRow>
								</TableBody>
							</Table>
							
							@if (_comicField.Options.Any())
							{
								<hr />
								<h5>Option Descriptions</h5>
								<ListGroup>
									@foreach (var option in _comicField.Options)
									{
										<ListGroupItem>
											<h5>@option.Text</h5>
											<p>@option.Description</p>
											@if (!string.IsNullOrEmpty(option.URL))
											{
												<p>
													<NewTabLink Href="@option.URL">@option.URL</NewTabLink>
												</p>
											}
										</ListGroupItem>
									}
								</ListGroup>
							}
						</Column>
					</Row>
				</Container>
			</EditForm>
		</ModalBody>
		<ModalFooter>
			<div class="w-100 d-flex flex-row justify-content-around flex-wrap">
				<Button Type="ButtonType.Button" Color="Color.Light" Clicked="HandleBack" Disabled="_isFirstInFields" Class="mr-2 mb-2 text-nowrap">
					<HelperIcon Name="chevron-left" />
					Back
				</Button>

				<Button Type="ButtonType.Button" Color="Color.Light" Clicked="HandleSkip" Disabled="_isLastInFields" Class="mr-2 mb-2 text-nowrap">
					Next&nbsp;
					<HelperIcon Name="chevron-right" />
				</Button>

				<Button Type="ButtonType.Submit" Color="Color.Primary" Disabled="@(_isSubmitting || _userName == null)" Clicked="HandleSubmit" Class="mr-2 mb-2 text-nowrap">
					@if (_isSubmitting)
					{
						<Spinner Small="true" Inline="true"></Spinner><text>&nbsp;</text>
					}
					@if (_userEntry.CreatedDate == default)
					{
						<text>Add Response</text>
					}
					else
					{
						<text>Edit Response</text>
					}
					&nbsp;<HelperIcon Name="chevron-right" />
				</Button>
			</div>
		</ModalFooter>
	</ModalContent>
</Modal>

@code {

	public struct State
	{
		public ComicFieldViewModel ComicField { get; set; }
		public string ComicCode { get; set; }
		public string ComicImgSrc { get; set; }
	}

	public enum CompletionType
	{
		Back,
		SubmitAndNext,
		SkipNext,
		Cancel,
	}

	public struct Completion
	{
		public CompletionType Type;
		public ComicFieldViewModel Field;
	}

	private class ValueWrapper<T>
	{
		public T Value { get; set; }
		public ValueWrapper(T value)
		{
			Value = value;
		}
	}

	[Parameter]
	public EventCallback<Completion> OnSubmit { get; set; }
	[Parameter]
	public IReadOnlyList<ComicFieldViewModel> Fields { get; set; } = new List<ComicFieldViewModel>();

	private Modal _modal = new Modal();
	private EditForm _form = new EditForm();
	private string? _userName;
	private ComicFieldViewModel _comicField = new ComicFieldViewModel();
	private string _comicCode = "";
	private string _comicImgSrc = "";
	private CrowdSourcedFieldUserEntryViewModel _userEntry = new CrowdSourcedFieldUserEntryViewModel();
	private bool _isSubmitting = false;

	private int _indexInFields => Fields.Select((item, index) => new { item, index }).FirstOrDefault(x => x.item.Code == _comicField.Code)?.index ?? 0;
	private bool _isFirstInFields => _indexInFields == 0 && Fields.Count > 0;
	private bool _isLastInFields => _indexInFields == Fields.Count - 1;

	#region Answer Variables
	private List<ValueWrapper<bool>> _boolAnswers = new List<ValueWrapper<bool>>();
	private string _stringAnswer = "";
	private List<ValueWrapper<string>> _stringAnswers = new List<ValueWrapper<string>>();
	private string[] _stringAnswers2 = new string[] { };
	private int? _intAnswer;
	#endregion Answer Variables

	protected override async Task OnInitializedAsync()
	{
		var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
		if (user.Identity!.IsAuthenticated)
		{
			_userName = user.Identity!.Name;
		}
		await base.OnInitializedAsync();
	}

	public void Open(State state)
	{
		_comicField = state.ComicField;
		_comicCode = state.ComicCode;
		_comicImgSrc = state.ComicImgSrc;

		if (_userName != null)
		{
			_userEntry = _comicField.UserEntries
				.FirstOrDefault(cf => cf.CreatedByUser.UserName == _userName)
				?? new CrowdSourcedFieldUserEntryViewModel();
		}

		var setValues = new HashSet<string>(_userEntry.Values);

		switch (_comicField.Type)
		{
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Checkboxes:
				_boolAnswers = _comicField.Options.Select(o => new ValueWrapper<bool>(setValues.Contains(o.Code))).ToList();
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Dropdown:
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextarea:
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextfield:
				_stringAnswer = _userEntry.Values.FirstOrDefault() ?? "";
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.IntegerNumber:
				var first = _userEntry.Values.FirstOrDefault();
				int num = 0;
				_intAnswer = first != null && int.TryParse(first!, out num) ? num : null;
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.MultiDropdown:
				_stringAnswers2 = _userEntry.Values.ToArray();
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.RadioButtons:
				_stringAnswers = _userEntry.Values.Select(v => new ValueWrapper<string>(v)).ToList();
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Section:

				break;
		}

		StateHasChanged();
		_modal.Show();
	}

	public void Close()
	{
		_modal.Hide();
	}

	private async Task HandleSubmit()
	{
		List<string> values = new List<string>();
		switch (_comicField.Type)
		{
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Checkboxes:
				values = _comicField.Options.Zip(_boolAnswers).Where(x => x.Second.Value).Select(x => x.First.Code).ToList();
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Dropdown:
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextarea:
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.FreeformTextfield:
				values = new List<string>()
				{
					_stringAnswer,
				};
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.IntegerNumber:
				values = new List<string>()
				{
					_intAnswer?.ToString() ?? "",
				};
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.MultiDropdown:
				values = _stringAnswers2.ToList();
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.RadioButtons:
				values = new List<string>()
				{
					_stringAnswer,
				};
				break;
			case LoadingArtistCrowdSource.Shared.Enums.CrowdSourcedFieldType.Section:
				break;
		}

		_userEntry.Values = values;
		if (!_form.EditContext!.Validate())
		{
			return;
		}

		_isSubmitting = true;
		StateHasChanged();
		UserEntrySubmissionResult result;
		try
		{
			result = await Api.PutUserEntryValues(_comicCode, _comicField.Code, values);
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
			return;
		}
		catch (System.Net.Http.HttpRequestException ex)
		{
			_isSubmitting = false;
			ToastService.ShowError($"There was a problem saving your answer: {ex.Message}");
			return;
		}
		_isSubmitting = false;
		StateHasChanged();

		if (result.IsAlertVerified())
		{
			ToastService.ShowSuccess(result.AlertDescription(), result.AlertMessage());
		}
		else
		{
			ToastService.ShowInfo(result.AlertDescription(), result.AlertMessage());
		}

		await OnSubmit.InvokeAsync(new Completion()
		{
			Type = CompletionType.SubmitAndNext,
			Field = _comicField,
		});
	}

	private async Task HandleBack()
	{
		await OnSubmit.InvokeAsync(new Completion()
		{
			Type = CompletionType.Back,
			Field = _comicField,
		});
	}

	private async Task HandleSkip()
	{
		await OnSubmit.InvokeAsync(new Completion()
		{
			Type = CompletionType.SkipNext,
			Field = _comicField,
		});
	}

	public async Task HandleCancel()
	{
		await OnSubmit.InvokeAsync(new Completion()
		{
			Type = CompletionType.Cancel,
			Field = _comicField,
		});
	}
}